    <!-- Download Section -->

    <section id="projects" class="projects-section bg-light">
            <div class="container">
              
              <!-- <h2 class="text-center">Verkefni</h2> -->

              <!-- Featured Project Row -->
              <!-- <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                  <img class="img-fluid mb-3 mb-lg-0" src="img/sunnubraut-kopavogi.jpg" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                  <div class="featured-text text-center text-lg-left">
                    <h4>Shoreline</h4>
                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                  </div>
                </div>
              </div> -->

              <!-- Project One Row -->
              <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                  <img class="img-fluid" src="img/sunnubraut-kopavogi.jpg" alt="">
                </div>
                <div class="col-lg-6">
                  <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Sunnubraut, Kópavogi</h4>
                        <p class="mb-0 text-white-50">Við fallega götu í Kópavogi mun rísa tvílyft funkis tvíbýlishús. Lega lóðarinnar gefur möguleika á skemmtilegri nýtingu á kjallara húsins.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Project Two Row -->
              <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                  <img class="img-fluid" src="img/midbaer2-moso.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                  <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Miðbær Mosfellsbæjar</h4>
                        <p class="mb-0 text-white-50">Nýtt breytt aðalskipulag af nýjum miðbæ Mósfellsbæjar hefur verið samþykkt. Skipulagið var unnið af Kaldalóni og gerir ráð fyrir miðsvæði ætlað eldri borgurum Mosfellsbæjar. Svæðið sem um ræðir markast af Langatanga, Bogatanga, Þverholt og Bjarkarholts.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Project One Row -->
              <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                  <div class="col-lg-6">
                    <img class="img-fluid" src="img/hverfisgata-46.jpg" alt="">
                  </div>
                  <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">Hverfisgata, Reykjavík</h4>
                          <p class="mb-0 text-white-50">Uppbygging lúxus íbúða í miðbæ Reykjavíkur.</p>
                          <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Project Two Row -->
              <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                  <img class="img-fluid" src="img/vallargata2-keflavik.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                  <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Vallargata, Reykjanesbær</h4>
                        <p class="mb-0 text-white-50">Í miðbæ Rekjanesbæjar munu rísa 48 íbúðir fyrir eldri borgara. Bílakjallari verður undir bæði lóð og húsi, sem verður 4 hæðir að viðbættri einni inndreginni hæð.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Project One Row -->
              <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                  <img class="img-fluid" src="img/vikurbraut.jpg" alt="">
                </div>
                <div class="col-lg-6">
                  <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Víkurbraut, Reykjanesbær</h4>
                        <p class="mb-0 text-white-50">Tveir 8 hæða íbúðarturnar munu rísa við bryggjuna í Reykjanesbæ. Turnarnir eru hannaðir með glerbyggingu sem tengir þá. Íbúðirnar eru vel skipulagðar og hannaðar með ungt fólk í huga.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </section>

    <!-- <section id="projects" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section> -->